{% import 'esi_macros.html' as macros -%}
    {%- set required_parameter = get.get("parameters",[]) | getRequiredParams -%}
    {%- set optional_parameter = get.get("parameters",[]) | getOptionalParams -%}
    {%- set kwargs = get.get("parameters",[]) | getKwargs %}
    get_responses = {{ get.get("responses",{}) }}

    def get{{ macros.create_params(required_parameter, optional_parameter, kwargs) }}:
        {{ macros.create_description(get.get('description',''), required_parameter, optional_parameter, kwargs) }}
        kwargs_dict ={
                {% for param in required_parameter | map(attribute='name')  -%}
                    "{{ param }}" : {{ param | convertPythonParam  +", " }}
                {%- endfor %}{% for param in optional_parameter | map(attribute='name')  -%}
                    "{{ param }}" : {{ param | convertPythonParam  +", " }}
                {%- endfor %}
        }
        kwargs_dict.update(kwargs)
        return EsiRequestObject(self.base_url, self.get_responses) \
            .get(**kwargs_dict)